* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(27, 26, 26);
  font-family: "Roboto", sans-serif;
}
.App {
  padding: 15px;
}
.form {
  position: relative;
  background-color: #212229;
  max-width: 1300px;
  width: 90%;
  min-height: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin-top: 50px;
  box-shadow: 18px 5px 95px -3px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
}
